<table class="table table-hover">
  <tr>
      <th>Name</th>
      <th>Image</th>
  </tr>
  <% for photo in @photos %>
    <tr>
        <td><%= photo.title%></td>
        <td><%= image_tag  photo.image_url if photo.image.present?%></td>
    </tr>
  <% end %>
</table>
<%= link_to "New", new_album_path, class: "btn btn-primary" %>
<div style="width:100%;margin-bottom: 30px;"></div>


